html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #00293d;
}

@keyframes blinker {
  from { opacity: 0.5; }
  50% { opacity: 0.9; }
  to { opacity: 0.5; }
}